@font-face { font-family: "FS Sinclair Regular"; src: url("../public/fonts/Delius-Regular.ttf" )}
@font-face { font-family: "FS Sinclair Bold"; src: url("../public/fonts/Delius-Regular.ttf" ); font-weight: bold;}

.bold { font-family: "FS Sinclair Bold"; }

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: "FS Sinclair Regular"
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.map-container {
  position: absolute;
  top: 72px;
  bottom: 0;
  width: 100%;
  height: calc(100vh - 72px);
}


body {
  margin: 0;
  padding: 0;
}

#map {
  position: absolute;
  top: 0;
  bottom: 0;
  width: 100%;
}

.map-overlay {
  /* font:
    12px/20px 'Helvetica Neue',
    Arial,
    Helvetica,
    sans-serif; */
  position: absolute;
  width: fit-content;
  left: 0;
  right: 0;
  bottom: 40px;
  margin: 0 auto;
  padding: 10px;
}

.map-overlay .map-overlay-inner {
  background-color: #fff;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
  border-radius: 3px;
  padding: 10px;
  margin-bottom: 10px;
}

.map-overlay-inner fieldset {
  display: flex;
  justify-content: space-between;
  border: none;
}

.map-overlay-inner label {
  font-weight: bold;
  margin-right: 10px;
}

.map-overlay-inner .select-fieldset {
  display: block;
}

.map-overlay-inner .select-fieldset label {
  display: block;
  margin-bottom: 5px;
}

.map-overlay-inner .select-fieldset select {
  width: 100%;
}